
.naman-centerheader {
  text-align: center;
  background-color: white;
  background-image: "https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg";
}

.naman-profile-pic {
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:lavender
  /*height: 100px;*/
}

.item2 {
  background-color:lavenderblush;
  /*height: 100px;*/
}

.item3 {
  background-color:lightpink;
  /*height: 100px;*/
}

.jumbotron-fluid{
      padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-image: assets/images/Cae.PNG;
    /* filter: blur(8px); */
    -webkit-filter: blur(0.2px);
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 3;
    background-position: 1% 1%;
}
